doctype html
html(ng-app="myapp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.min.css')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lekton:400,400italic")
  body
    block content
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/Chart.js/Chart.min.js")
    script(src="/bower_components/angular-aria/angular-aria.min.js")
    script(src="/bower_components/angular-animate/angular-animate.min.js")
    script(src="/bower_components/angular-material/angular-material.min.js")
    script(src="/javascripts/app.js")